.header{
    justify-content: flex-start;
}

.pokemon{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1em 3em;
}

.pokemon__image{
    grid-area: 2 / 1 / -1 / 1;
    position: initial;
}

.pokemon__card{
    grid-area: 1 / 2 / -1 / -1;
    grid-template-columns: repeat(2,1fr);
}

.pokemon__item{
    grid-template-columns: repeat(1,1fr);
    justify-items: center;
    margin: 0;
}


.pokemon__property{
    margin: 0;
    align-self: end;
    font-size: 1.3em;
}

.pokemon__value{
    margin: 0;
    align-self: start;
    font-size: 1.7em;
}

.others{
    grid-template-columns: repeat(6, 5em);
}